@import './partials/_transitions';
@import './variables/colors';
@import './partials/_main';
@import './partials/_leftSide';
@import './partials/_rightSide';
@import './partials/_stickfigure';

.root {
  height: 100vh;
}

input,
button,
submit {
  border: none;
}

.flexer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
