.left--parent {
  flex: 2.5;
  background-color: $main-yellow;
  display: flex;
  justify-content: center;
  align-content: center;

  &--textContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 7vh;
    }
  }

  button {
    margin-top: 20px;
  }

}

